@mixin contentComingInAimation {
	@keyframes easeInToPage {
		from {
			top: -150px;
		}
		to {
			top: 120px;
		}
	}

	animation: easeInToPage 1.5s;
	animation-timing-function: ease-out;
	animation-fill-mode: forwards;
}
