@use "./variables" as v; 

@import "./Animations.scss"; 


.container {
	padding-left: v.$padingValue;
	padding-right: v.$padingValue;
	padding-top: v.$padingValue;
	padding-left: v.$padingValue;

	&-main {
        position: relative;
		@extend .container;
		height: 25cm;
		width: 30cm;
		background-color: v.$mainTaskConatiner;
		border-radius: 20px;
        @include contentComingInAimation; 
	}

    &-title{
        position: absolute;
        color: v.$textColour;
    }
}
