@use "./variables" as v;
@import "./CenterItems.scss";

$paddingVal: 10px; 

$borderCol: #757676; 

.form {
	margin-top: 10px;
	font-size: 25px;
    width: 100%;
}
.input-text-div {
    margin-bottom: 1cm;
    width: 100%;
    @include centerItemsInDiv;
}

.input-field {
    padding-left: 14px;
    font-size: 22px;
    width: 90%;
    border-style: solid;
    font-family: v.$defaultFontFamily;
    
}

.input-field-one-line{
    @extend .input-field; 
    color: $borderCol;
    height: 1cm;
    border-top: none;
    border-right: none;
    border-left: none;
    outline: none;
    border-color:$borderCol;
}

.input-field-multi-line{
    @extend .input-field;
    padding-top: 10px;
    color: $borderCol;
 
    border: solid;
    border-color:$borderCol; 
    height: 3cm;
}

.input-field-check-box{
    @extend .input-field;
    border: solid;
}