@use "./variables" as v;
@import "./CenterItems.scss";

$paddingVal: 10px;

$borderCol: #757676;

p,
input,
.change-font,
label,
textarea {
	font-family: v.$defaultFontFamily;
	font-size: 22px;
	color: $borderCol;
}

.default-form {
	overflow: hidden;
	font-size: 25px;
}
@mixin FormVal($mt, $w) {
	margin-top: $mt;
	width: $w;
	
}

.form {
	@extend .default-form;
	// @include FormVal(10px, 100%);
	margin-bottom: 0;
}

.form-half-width {
	@extend .default-form;
	// @include FormVal(60px, 100%);
}

.default-div {
	display: flex;
	flex-direction: column;
	margin-bottom: 1cm;
	width: 100%;
}

.default-div-center {
	@extend .default-div;
	@include centerItemsInDiv;
}

.default-div-margin-left {
	@extend .default-div;
	margin-left: 40px;
}

.input-field {
	padding-left: 14px;
	font-size: 22px;
	width: 90%;
}

.input-field-one-line {
	@extend .input-field;
	color: $borderCol;
	height: 1cm;
	border-top: none;
	border-right: none;
	border-left: none;
	outline: none;
	border-color: $borderCol;
}

.input-field-multi-line {
	@extend .input-field;
	padding-top: 10px;
	color: $borderCol;
	resize: none;
	border-color: $borderCol;
	height: 3cm;
}

.radio-button {
	margin-bottom: 10px;
	padding: 0.5em;
	height: 18px;
	width: 18px;
}

.form-buttons-div-default {
	height: 1.4cm;
	width: auto;
	@include centerItemsInDiv;
}

.form-buttons-div {
	@extend .form-buttons-div-default;
	margin-top: 2cm;
}

.form-buttons-div-v2 {
	@extend .form-buttons-div-default;
	margin-top: 1cm;
}

.delete-item-button-div{
	display: flex;
	flex-direction: column;
	@include centerItemsInDiv; 
	margin-bottom: 0.5cm;
}
