@import "./CenterItems.scss";

$primaryColour: #566672;
$secondaryColour: #768997;

.modal {
    position: relative;
	background-color:  rgba(124, 113, 113, 0.7);
	//background: linear-gradient(to right, rgba(169,208,113,0.4),rgba(136,173,215,1));
	height: 100vh;
	width: 100vw;
	position: absolute;
	padding: 0;
	z-index: 2; //sit on top,  background wrapper has 0
	inset: 0;
	@include centerItemsInDiv;
}

.close-button-div {
	margin-top: 0.5cm;
	border: #af002d;
	border: solid;
	height: 1cm;
}

.content-wrapper {
	width: 50%;
	height: 50%;
	background: white;
	border: grey;
	// border-width: 3px;
	border-style: solid;
	border-radius: 10px;
}

.add-content {
	border: rgb(163, 24, 24);
	border: solid;
	// border-width: 4px;
	height: 75%;
}

.modal-buttons-div {
	// border: rgb(58, 68, 3);
	// border: solid;
	height: 1.4cm;
	width: auto;
	@include centerItemsInDiv;
}

.modal-button {
	font-size: 20px;
	margin: 10px;
	width: 4cm;
	color: white;
	border-radius: 4px;
	border-style: solid;
	border: 1px;
	height: 40px;
}

.button-cancel{
    background-color: #f63849;
    @extend .modal-button; 
	&:hover{
		background-color: #e90b1e;
	}
}

.button-add{
    background-color: #18922c;
    @extend .modal-button; 
	&:hover{
		background-color:#137624;
	}
}
