$heightOfTask: 1.7cm; 

$padingValue: 1cm;

$heightContainer: 18cm; 

$mainTaskConatiner: #414d56;

$textColour: aliceblue; 

$defaultFontFamily:  -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
sans-serif;