.main-div {
	display: flex;
	flex-direction: row;
	place-content: center;
}

.bg-div {
	inset: 0;
	position: absolute;
	z-index: 1;
	height: 100%;

	img {
		height: 100%;
		width: 100vw;
	}
}

.content-div {
	text-align: center;
	place-content: center;
	position: relative;
	border: 2px;
	z-index: 2;
}
