@use "./variables" as v;

@import "./Animations.scss";

// the container height, where the tasks go needs to be the same height all-tasks div

.container {
	padding-left: v.$padingValue;
	padding-right: v.$padingValue;
	padding-top: v.$padingValue;
	padding-left: v.$padingValue;

	&-main {
		position: relative;
		@extend .container;
		// height: 20cm;
		height: v.$heightContainer;
		width: 25cm;
		background-color: v.$mainTaskConatiner;
		border-radius: 20px;
		@include contentComingInAimation;
	}

	&-title {
		position: absolute;
		color: v.$textColour;
	}
}
