@use "./variables" as v;

@import "./Animations.scss"; 

.center-contents {
	vertical-align: middle;
	line-height: v.$heightOfTask;
}

.all-tasks {
	display: flex;
	flex-direction: column;
	margin-top: 2.5cm;
	width: 100%;
	height: 22cm;
	border: #414d56;
	border-style: double;
}

.single-task {
	display: flex;
	flex-direction: row;
	position: relative;
	margin-top: 0.2cm;
	background-color: white;
	height: v.$heightOfTask;
	width: 100%;
	border-radius: 5px;
	@include animateGrowOnHover($animateTask: true);  
}

.checkbox-div {
	width: 100px;
	@extend .center-contents;
}

.task-description-div {
	text-align: left;
	width: 90%;
    line-height: 0.6cm;
}

.star-div {
	display: inline-block;

	width: 10%;
	@extend .center-contents;
}

.title-and-button-div{
	display: flex;
	flex-direction: row;
	width: 100%;
}